<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('events_index') }}">Events</a>
            </li>
            <li>
                <a href="{{ path('teams_index') }}">Teams</a>
            </li>
            <li>
                <a href="{{ path('matchs_index') }}">Matchs</a>
            </li>
        </ul>
    </div>
</div>